.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.navbar {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 75vw;
  min-width: 50vw;
  height: 5vh;
  background: #2ca98ea3;
  border-radius: 5px;
  box-shadow: 0px 3px 7.5px rgba(0, 0, 0, 0.1);
}

.navbar--title {
  margin-left: 20px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.01em;
  color: #FFFFFF;
}

.card {
  display: flex;
  align-items: center;
  width: 75vw;
  height: 300px;
  padding: 30px;
}


hr {
  width:75vw;
}

.card--content {
  display: flex;
  flex-direction: column;
  padding: 25px 25px;
}

.card--image {
  border-radius: 10px;
  height: 100%;
  max-width: 220px;
  object-fit:cover
}

.card--image:hover {
  transform: scale(1.05);
}

.card--pin {
  height: 11px
}
.card--location {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.2em;
  margin: 0px 5px;
}

.card--map-link {
  font-weight: 400;
  font-size: 14px;
  text-decoration-line: underline;
  color: #918E9B;
}

.card--title {
  font-weight: 700;
  font-size: 26px;
}

.card--timeline {
  font-weight: 700;
  font-size: 12px;
}

.card-text {
  font-weight: 400;
  font-size: 12px;
}